    /*页尾*/

.foot{
    color: white;
    width: 100%;
    height: 250px;
    background-color: rgb(59, 55, 55);
    margin-top: 18%;
}
.image1,.p1{float: left;}
.image3,.p3{float: left;}
.image2{position: relative;right: 44%;top: 30px;}
.p1{position: relative;bottom: 12px;}
.p2{position: relative;bottom: 50px;left:7%;}
.p3{position: relative;bottom: 12px;}
#one1{position: relative;right: 43%;top: 30px;}
#three3{position: relative;left: 67%;bottom: 130px;}
hr{width: 65%;position:relative;right: 6%;bottom: 30px;}
#four4{position: relative;right: 7%;bottom: 30px;}