   /*女双代表*/

.title{
    font-family: 宋体;
    letter-spacing: 0.5em;
    font-size: 50px;
    position: relative;
    right: 5%;
    top:75px;
}
.all{
   width: 100%;
   height: 950px;
   background-color: rgb(173, 243, 243);
}
.top{position: relative;left:500px;height: 200px;}
.icon{
     width: 150px;
     height: 137.5px;
     margin:auto;
     padding-left:25px;
     padding-top: 25px;
     border-radius: 50%;
     border: 2.5px solid #ccc;
     background-image: url(../images/icon/icon_bg.jpg);
     background-size: 150px;
     position: relative;
     bottom: 50px;
  }
.sheet{
    width: 112.5px;
    height:131.25px;
    position: relative;
    left: 5%;
    bottom: 13%;
       }
p{
  text-align: center;
  height: 2px;
  font-size: 15px;
  letter-spacing: 0.7em;
 }
 a{text-decoration: none;
    color: black;}
a:hover{color: blue;}
.content{width: 90%;height: 600px;margin-left: 5%;background-color: white;}
p{text-align: center;}
.one,.two,.three{float: left;margin-top: 40px;margin-left: 6%;}
.four,.five{float: left;margin-top: 40px;margin-left: 8%;position: relative;left: 13%;}
.one{width: 25%;}
.two{width: 25%;}
.three{width: 25%;}
.four{width: 25%;}
.five{width: 25%;}
.back{
   font-size: 30px;
   clear: both;
   margin-top: 20px;
   text-align: center;
}