body{margin: 0 auto;}
.all{
    width: 100%;
    height: 600px;
    margin: 0 auto;
    background-color:rgb(186, 185, 185);
}
.body{
    width: 80%;
    height:80%;
    background-color:white;
    margin-left: 10%;
    position: relative;
    top: 50px;
}
.title{
    text-align: center;
    font-size: 20px;
    position: relative;
    bottom: 20px;
}
.form{
    width: 400px;
    line-height: 25px;
    padding:1.5% 1%;
    margin:0 auto;
    background-color:rgb(186, 185, 185);
}

#check
{
    margin-left:12.7%;
}
.tip{
    text-align: right;
    font-size: smaller;
}
textarea{width: 92%;margin-left: 2%;}

.submit
{
    text-align:center;
}