    /*国乒历史*/

body{text-align: center;margin: 5px auto;}
.all{
    width: 100%;
    height: 850px;
    background-color: aquamarine;
}
.top{
    height: 200px;
    width: 100%;
    background-color: white;
}
.image{position: relative;right: 30%;}
#title{position: relative;left: 10%;bottom: 150px; font-size: 50px; letter-spacing: 0.2em;}
#english{font-size: 13px;letter-spacing: 3px;word-spacing: 5px;position: relative;left: 10%;bottom: 200px;}
.words{
    width: 500px;
    position:relative;
    left:13%;
    top:20%;
    text-align: center;
    }
.icon{color:white;width: 5%;text-align:center;position:absolute;right: 5%;top: 10px;background-color: rgb(25, 40, 76);}
.icon_{color: white;text-decoration: none;}
.icon_:hover{color: aqua;}
.menu{width: 100%; float: left;background-color:rgb(41, 150, 154);}
tr{height:50px;}
td{width:20%;font-size: 25px;text-decoration: none;}
a{text-decoration: none;color:black}
a#three{text-decoration: underline;}
a#one:hover{font-size: 35px;}
a#two:hover{color: black;font-size: 30px;}
a#three:hover{color: aquamarine ;font-size: 30px;}
a#four:hover{color: red;font-size: 30px;}
a#five:hover{color:blueviolets;font-size: 30px;}

.left{
    width: 5%;
    height: 640px;
    /* margin-top: 10px; */
    line-height: 12px;
    font-size: 20px;
}
.events{font-size: 23px;}
a.one:hover,a.two:hover{color: blue;}
.one{
    height: 300px;
    background-color: rgb(240, 110, 132);
}
.two{
    height: 297px;
    background-color: rgb(247, 202, 209);
}
.left,.right{float: left;}
.right{
    width: 90%;
    position: relative;
    left: 3%;
    text-indent: 2em;
    text-align: left;
}
.h{font-size: 30px;}
p{font-size: 16px;}
.foot{
    color: white;
    width: 100%;
    height: 250px;
    background-color: rgb(59, 55, 55);
}
.image1,.p1{float: left;}
.image2,.p2{float: left;}
.image3,.p3{float: left;}
#one1{position: relative;left: 19%;top: 15px;}
#two2{position: relative;left: 22%;top: 15px;}
#three3{position: relative;left: 25%;top: 15px;}
hr{width: 65%;position: relative;top: 40px;}
#four4{clear: left;position: relative;top: 30px;}