* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* 统一盒模型，避免宽度计算偏差 */
}
html {
  font-size: 15px; /* 基础字体大小，便于响应式调整 */
}
body {
  min-width: 320px; /* 最小适配宽度，避免过窄屏幕错乱 */
  max-width: 100%; /* 最大宽度，限制宽屏拉伸 */
  margin: 0 auto; /* 居中显示，左右留白 */
  padding: 0 15px; /* 两侧内边距，避免内容贴边 */
}

.all{
    width: 100%;
    /* height: 2000px; */
    background-image: url(images/main/bgcolor.png);
    margin: 0 auto;
}
.top{
    height: 200px;
    width: 100%;
    background-color: white;
}
.image{position: relative;right: 30%;}
#title{position: relative;left: 10%;bottom: 100px;}
#english{font-size: 13px;letter-spacing: 3px;word-spacing: 5px;position: relative;left: 10%;bottom: 100px;}
.words{
        width: 500px;
        position:relative;
        left:13%;
        top:20%;
        font-size: 50px;
        text-align: center;
        letter-spacing: 0.2em;
    }
.icon{color:white;width: 5%;text-align:center;position:absolute;right: 5%;top: 10px;background-color: rgb(25, 40, 76);}
.icon_{color: white;text-decoration: none;}
.icon_:hover{color: aqua;}
.top-right-nav {
    position: absolute; /* 绝对定位 */
    top: 0;             /* 顶部对齐 */
    right: 20px;        /* 右侧距离 */
    padding: 15px 0;    /* 上下内边距 */
}
.top-right-nav a {
    color: black;               /* 文字白色 */
    text-decoration: none;      /* 去除下划线 */
    margin-left: 25px;          /* 链接之间的间距 */
    font-size: 16px;            /* 文字大小 */
    padding: 5px 8px;           /* 点击区域扩大 */
    transition: color 0.3s;     /* 颜色过渡效果 */
}
.top-right-nav a:hover {
    color: #e0f0ff;             /* 悬停时浅色 */
    text-decoration: underline; /* 下划线提示 */
}
.top-log a:link{
    height:200px;
    color:black;
}


.center{float: left;width: 100%;}
.menu{float: left;background-color: rgb(21, 65, 146)}
table{width: 100%;}
tr{height:50px;}
td{font-size: 25px;font-weight:400;text-align: center;}
a:not(.icon_){text-decoration: none;color:white}
a#one{text-decoration: underline;}
a#one:hover{font-size: 35px;}
a#two:hover{color: black;font-size: 30px;}
a#three:hover{color: aquamarine ;font-size: 30px;}
a#four:hover{color: red;font-size: 30px;}
a#five:hover{color:blueviolets;font-size: 30px;}


.core{
    width: 80%;
    height: 300px;
    margin-top: 100px;
    margin-left: 10%;
    background-color: rgb(159, 159, 206);
    display: flex; /* 子元素横向排列 */
}
.core-img{
  width: 60%; /* 宽度占满容器 */
  height: 100%; /* 高度自动，保持比例 */
  max-height: 400px; /* 限制最大高度，避免拉伸过大 */
  object-fit: cover; /* 图片裁剪适配，不变形 */
}
.content-border{
    padding: 1% 3.5%;
    max-width: 80%; 
    color: white;
    width: 40%;
    }
.first{
height: 90px;
text-indent: 2em;
/* margin-top: 8px; */
border-bottom: 1px solid white;}
.second{
    height: 90px;
    text-indent: 2em;
    margin-top: 8px;
    border-bottom: 1px solid white;
}
.first-h{
    position: relative;
    left: 15%;
}
.first-p
{
    text-decoration: none;
}
.h2{position: relative;left: 5%;}

li{font-size: 13px;}



.bg{
    width: 76%;
    height: 1050px;
    margin-top: 20px;
    margin-left: 11.8%;
    padding: 20px;
    background-color: rgb(80, 174, 221);
}
.h3{
    width: 90%;
    background-color: aquamarine;
    font-size: 30px;
    border-left: 10px solid rgb(23, 87, 207);
    position: relative;
    left: 5%;
}
.cores_one{margin-left: 13%;display: flex;}
.cores_one_right{
    width: 61%;
    height: 400px;
    background-color: rgb(20, 137, 195);
}
#content{
    font-size: 15px;
    line-height: 22px;
    font-weight: 150;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 3%;
}
.h4{
    width: 90%;
    background-color: aquamarine;
    font-size: 30px;
    margin-top:  50px;
    border-left: 10px solid rgb(53, 195, 195);
    position: relative;
    left: 5%;
}
.cores_two_images{
                    margin-top: 15px;
                    margin-left: 15%;
}
.one,.two,.three{float: left;margin: 1%;}
.four,.five,.six{float: left;margin: 1%;}


.foot{
        color: white;
        width: 100%;
        height: 250px;
        background-color: rgb(59, 55, 55);
        margin-top: 5%;
}
.image1,.p1{float: left;}
.image2,.p2{float: left;}
.image3,.p3{float: left;}
#one1{position: relative;left: 22%;top: 15px;}
#two2{position: relative;left: 25%;top: 15px;}
#three3{position: relative;left: 28%;top: 15px;}
hr{width: 65%;position: relative;top: 39px;left: 20%;clear: left;}
#four4{position: relative;top: 80px;text-align: center;}